body {
  background-color: rgb(226, 241, 255);
}

.texto {
  width: 23em;
  height: 23em;
  background-color: rgb(226, 241, 255);
  font-weight: bold;
  font-size: 2em;
  color: rgb(4, 4, 78);
  border: none;
  resize: none;
  margin: 1em 0 0 1em;
}
.texto::placeholder {
  font-weight: bold;
  font-size: 2em;
  color: rgb(4, 4, 78);
  border: none;
}
.copiar-btn {
  border: 2px;
  border-radius: 6px;
  background-color: rgb(6, 71, 155);
}

img {
  position: absolute;
  top: 2em;
  left: 40em;
}

.imageText {
  position: absolute;
  top: 1em;
  left: 20em;
  font-weight: bold;
  font-size: 2em;
  color: rgb(4, 4, 78);
}
